.options {
  display: flex;
  align-items: center;
}

.options-item {
  font-size: 1em;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 1.5em;
  cursor: pointer;
}
